{
	"candy": {
		"core": { "debug": false, "autojoin": ["test@conference.localhost.local"] },
		"view": { "resources": "candy/res/" },
		"connect": []
	},
	"http_bind": "http://localhost:5280/http-bind/",
	"app": {
		"host": "localhost",
		"port": 8080
	}
}